// Set charset
@charset "utf-8";

// My variables
$header   : #922610;
$h-line   : #e69a28;
$body     : #212121;
$back     : #eee5ce;
$bar      : $h-line;

$tag      : $h-line;
$h-tag    : #ff9b05;
$category : $header;
$h-cat    : #cf2d0c;

// Bulma variables
$family-sans-serif : "Noto Sans", sans-serif;
$primary           : $header;
$link              : $header;
$success           : #3B9210;
$info              : #107C92;
$danger            : #671092;
$warning           : #926710;
$text              : $body;

// Import bulma
@import "./boxes.scss";
@import "./stats-block.scss";
@import "../node_modules/bulma/bulma.sass";

html, body {
  text-align: justify;
  color: $body;
}

.content {
  h1, h2, h3, h4 {
    font-family: "Libre Baskerville", serif;
    font-variant: small-caps;
    font-weight: 600;
    color: $header;
  }
  h1 {
    font-size: 2.5em;
    header & {
      font-size: 1.5em;
      font-weight: 900;

      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: justify;
      margin-top: 1em;
    }
    & + p:not(.subtitle):not(.meta)::first-letter {
      float: left;
      font-family: "UnifrakturCook", cursive;
      font-size: 4em;
      line-height: 1em;
      margin-right: .1em;
      text-transform: uppercase;
      background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
      color: transparent;
      -webkit-background-clip: text;
    }
    & + p.subtitle {
      margin-top: -1.5em;
      margin-bottom: 2.5em;

      font-family: "Montserrat", sans-serif;
      font-variant: small-caps;
    }
  }
  h2 { font-size: 2.0em; }
  h3 {
    border-bottom: 2px solid $h-line;
    font-size: 1.8em;
  }
  h4 { font-size: 1.5em; }
  h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-variant: small-caps;
    font-weight: 700;
  }
  h5 { font-size: 1.5em; }
  h6 { font-size: 1.0em; }
}

div.metadata {
  p:nth-child(2), p.chapter {
    margin-top: -1.5em;
    font-family: "Montserrat", sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    overflow: auto;
  }
  p.species {
    margin-top: -1.5em;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 700;
    overflow: auto;
  }
  span {
    display: inline-block;
    float: left;
    border-radius: 0.3em;

    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;

    min-width: 5em;
    margin-right: 0.5em;
    padding: 0.3em 0.6em;

    color: white;
    transition: background-color 0.3s;
    &.tag {
      background-color: $tag;
      &:hover { background-color: $h-tag; }
    }
    &.category {
      background-color: $category;
      &:hover { background-color: $h-cat; }
    }
  }
}

div.spell {
  p { margin-bottom: 0; }
  &.header {
    p.meta {
      margin-top: -1.5em;
      margin-bottom: 1.0em;
      font-family: "Montserrat", sans-serif;
      font-variant: small-caps;
      font-weight: 700;
      overflow: auto;
    }
    div {
      margin-left: 2em;
      margin-bottom: 1em;
      p:first-child {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2em;
        font-variant: small-caps;
        font-weight: 700;
      }
    }
  }
  &.components {
    h6 {
      margin-bottom: 0;
      margin-top: 0.7em;
    }
    p { margin-left: 1em; }
  }
}

.page-404 {
  h2, p {
    text-align: center;
    margin-bottom: 0.3em;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    max-width: 256px;
  }
}

.building {
  margin-bottom: 1.5em;
  p { margin-bottom: 0.3em; }
  p.type {
    margin-top: -1.0em;
    font-family: "Montserrat", sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    overflow: auto;
  }
  h5 { margin-bottom: 0.3em; }
  h6 {
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 0.5em;
  }
  ul { margin-bottom: 0; }
  li {
    list-style: none;
    margin-left: 1.5em;
    margin-bottom: 0.3em;
  }
}

.chapter.links {
  overflow: auto;
  a {
    text-align: center;
    display: inline-block;
    width: 100%;
    @media screen and (min-width: 550px) {
      width: 40%;
      &.prev {
        text-align: left;
        float: left;
      }
      &.next {
        text-align: right;
        float: right;
      }
    }
  }
}

h2.collections {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.collection {
  margin-bottom: 2em;
  h5 { margin-bottom: 0.2em; }
  ul { margin-bottom: 0; }
  li {
    list-style: none;
    margin-left: 1.5em;
    margin-bottom: 0.3em;
  }

  &.long {
    width: 100%;
    li { float: left; }
  }
}

nav.posts {
  li {
    list-style: none;
    margin-left: 1.5em;
    margin-bottom: 0.3em;
  }
}
