language: ruby
rvm:
  - 2.5.3

before_install:
  - gem update --system
  - gem install bundler
install:
  - bundle install --retry=3 --no-deployment
  - yarn install
before_script:
  - chmod +x ./script/cibuild.sh
script: ./script/cibuild.sh

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

addons:
  apt:
    packages:
      - libcurl4-openssl-dev

sudo: false

cache:
  bundler: true
  yarn: true

notifications:
  email:
    on_success: change
    on_failure: change
