---
layout: default
---

{% assign: spells = site.spells | join: '' %}
{% if spells != '' %}
<div class="collection">
  <h1>Spells</h1>
  <ul>
  {% for spell in site.spells %}
    <li><strong><a href="{{ spell.url }}">{{ spell.spell.name }}</a>:</strong> {% if spell.spell.e5.level %}{{ spell.spell.e5.level | ordinal }}-level {% endif %}{{ spell.spell.school }}{% if spell.spell.subschool %} ({{ spell.spell.subschool }}){% endif %}{% assign: descs = spell.spell.descriptor | join: '' %}{% if descs != '' %} [{{ spell.spell.descriptor | join: ', ' }}]{% endif %}{% if spell.spell.e35.level %} for {{ spell.spell.e35.level | join: ', ' }}{% endif %}.</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
