---
layout: default
---

<div class="metadata">
  <h1>{{ page.title | default: 'Animal' }}</h1>
  <p class="meta">{{ page.author | default: 'Unknown' }} &bull; {{ page.date | default: '1938-07-27' | date: '%A, %B %e, %Y' }}</p>
  <p class="species">{{ page.animal.species | default: 'Ignotum animalis' }}</p>
  {% if page.animal.linnaean %}<p class="chapter">{{ page.animal.linnaean | join: ' &raquo; ' }}</p>{% endif %}

  {% if page.animal.feeding or page.animal.sizes or page.animal.weight or page.animal.habitat or page.animal.iucn or page.animal.note %}
  <p class="chapter">{{ page.animal | animal_metadata | join: ' &bull; ' }}</p>
  {% endif %}
  <!-- -->
</div>

{{ content }}
