---
layout: default
---

<div class="eight columns">
  <div class="metadata">
    <h1>{{ page.title | default: 'Armor' }}</h1>
    <p class="meta">{{ page.author | default: 'Unknown' }} &bull; {{ page.date | default: '1938-07-27' | date: '%A, %B %e, %Y' }}</p>
  </div>

  {{ content }}
</div>

<div class="four columns">
  <h2>{{ page.item.name | default: 'Armor' }}</h2>
  <p>{{ page.item.type | default: 'Light' }} Armor{% if page.item.rarity %}, {{ page.item.rarity }}{% endif %}{% if page.item.attunement %} (Requires attunement by {{ page.item.attunement }}){% endif %}</p>
  <p><strong>Weight:</strong> {{ page.item.weight }}</p>
  <p><strong>Base Value:</strong> {{ page.item.value | pretty_number }}gp</p>
  <p><strong>Armor Class:</strong> {{ page.item.ac.base }}{% if page.item.ac.dex > 0 %} + Dex Mod. (Max {{ page.item.ac.dex }}){% endif %}</p>
  {% if page.item.e5 %}
  <!-- 5E Specifics -->
  {% if page.item.e5.stealth %}
  <p><strong>Disadvantage on Stealth rolls</strong></p>
  {% endif %}
  {% if page.item.e5.charges %}
  <p><strong>Charges:</strong> {{ page.item.e5.charges.number }} {% if page.item.e5.charges.regain %}(Regains {{ page.item.e5.charges.regain }} charges {{ page.item.e5.charges.reset }}){% else %}(Consumable){% endif %}</p>
  {% endif %}
  <!-- /5E Specifics -->
  {% else %}
  <!-- 3.5 Specifics -->
  {% if page.item.e35.str %}
  <p><strong>Min Strength</strong> {{ page.item.e35.str }}</p>
  {% endif %}
  {% if page.item.e35.penalty %}
  <p><strong>Check Penalty</strong> {{ page.item.e35.penalty }}</p>
  {% endif %}
  <!-- /3.5 Specifics -->
  {% endif %}
  {% if page.item.attributes %}
  <ul>
    {% for attr in page.item.attributes %}
    <li>{{ attr }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
