<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    {% seo %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon/apple-touch-icon.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon/favicon-32x32.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon/favicon-16x16.png' | absolute_url }}">
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | absolute_url }}">
    <link rel="mask-icon" href="{{ 'assets/favicon/safari-pinned-tab.svg' | absolute_url }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ 'assets/favicon/favicon.ico' | absolute_url }}">
    <meta name="msapplication-TileColor" content="#922610">
    <meta name="msapplication-TileImage" content="{{ 'assets/favicon/mstile-144x144.png' | absolute_url }}">
    <meta name="msapplication-config" content="{{ 'assets/favicon/browserconfig.xml' | absolute_url }}">
    <meta name="theme-color" content="#922610">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ 'node_modules/normalize.css/normalize.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/getskeleton/lib/css/skeleton.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/@mdi/font/css/materialdesignicons.min.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/typeface-montserrat/index.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/typeface-libre-baskerville/index.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/typeface-noto-sans/index.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/typeface-unifrakturcook/index.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'css/style.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'css/stats-block.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'css/boxes.css' | absolute_url }}" />

    {% feed_meta %}
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h1>
          <p class="subtitle">{{ site.description }}</p>
        </div>
      </div>
    </header>

    <main class="container">
      <div class="row">
        <!-- CONTENTS -->
        {{ content }}
      </div>
    </main>
  </body>
</html>
