---
layout: default
---

<div class="eight columns">
  <div class="metadata">
    <h1>{{ page.title | default: 'Monster' }}</h1>
    <p class="meta">{{ page.author | default: 'Unknown' }} &bull; {{ page.date | default: '1938-07-27' | date: '%A, %B %e, %Y' }}</p>
  </div>

  {{ content }}
</div>

{% if page.monster.e5 %}
<!-- 5e Stat Block -->
<div class="four columns">
  <div class="stat-block-container">
    <div class="stat-block">
      <hr class="orange-border">
      <div class="creature-heading">
        <h1>{{ page.monster.name | default: 'Terrasque' }}</h1>
        <h2>{{ page.monster.size | default: 'Colossal' }} {{ page.monster.type | default: 'magical beast' }}{% if page.monster.subtype %} ({{ page.monster.subtype }}){% endif %}, {{ page.monster.align | default: 'always neutral' }}</h2>
      </div>
      <!-- creature heading -->
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div class="top-stats">
        <div class="property-line">
          <h4>Armor Class</h4>
          <p>{{ page.monster.e5.ac.base }}{% if page.monster.e5.ac.desc != '' %} ({{ page.monster.e5.ac.desc }}){% endif %}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Hit Points</h4>
          <p>{{ page.monster.e5.hp.hp | pretty_number }} ({{ page.monster.e5.hp.hd }})</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Speed</h4>
          <p>{{ page.monster.e5.speed | join: ', ' }}</p>
        </div>
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        <div class="abilities">
          <div class="ability-strength">
            <h4>STR</h4>
            <p>{{ page.monster.abilities.str | ability }}</p>
          </div>
          <!-- ability strength -->
          <div class="ability-dexterity">
            <h4>DEX</h4>
            <p>{{ page.monster.abilities.dex | ability }}</p>
          </div>
          <!-- ability dexterity -->
          <div class="ability-constitution">
            <h4>CON</h4>
            <p>{{ page.monster.abilities.con | ability }}</p>
          </div>
          <!-- ability constitution -->
          <div class="ability-intelligence">
            <h4>INT</h4>
            <p>{{ page.monster.abilities.int | ability }}</p>
          </div>
          <!-- ability intelligence -->
          <div class="ability-wisdom">
            <h4>WIS</h4>
            <p>{{ page.monster.abilities.wis | ability }}</p>
          </div>
          <!-- ability wisdom -->
          <div class="ability-charisma">
            <h4>CHA</h4>
            <p>{{ page.monster.abilities.cha | ability }}</p>
          </div>
          <!-- ability charisma -->
        </div>
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        {% if page.monster.e5.saves %}
        <div class="property-line">
          <h4>Saving Throws</h4>
          <p>{{ page.monster.e5.saves | join: ', ' }}</p>
        </div>
        {% endif %}
        {% if page.monster.e5.skills %}
        <div class="property-line">
          <h4>Skills</h4>
          <p>{{ page.monster.e5.skills | join: ', ' }}</p>
        </div>
        {% endif %}
        {% if page.monster.e5.dmg_vulnerabilities %}
        <div class="property-line">
          <h4>Damage Vulnerabilities</h4>
          <p>{{ page.monster.e5.dmg_vulnerabilities | join: ', ' }}</p>
        </div>
        {% endif %}
        {% if page.monster.e5.dmg_resistances %}
        <div class="property-line">
          <h4>Damage Resistances</h4>
          <p>{{ page.monster.e5.dmg_resistances | join: ', ' }}</p>
        </div>
        {% endif %}
        {% if page.monster.e5.dmg_immunities %}
        <div class="property-line">
          <h4>Damage Immunities</h4>
          <p>{{ page.monster.e5.dmg_immunities | join: ', ' }}</p>
        </div>
        {% endif %}
        {% if page.monster.e5.cond_immunities %}
        <div class="property-line">
          <h4>Condition Immunities</h4>
          <p>{{ page.monster.e5.cond_immunities | join: ', ' }}</p>
        </div>
        {% endif %}
        <div class="property-line">
          <h4>Challenge</h4>
          <p>{{ page.monster.e5.cr | cr_format }}</p>
        </div>
        <div class="property-line">
          <h4>Senses</h4>
          <p>{{ page.monster.e5.senses | join: ', ' }}</p>
        </div>
        <div class="property-line">
          <h4>Languages</h4>
          <p>{% if page.monster.e5.langs %}{{ page.monster.e5.langs | join: ', ' }}{% else %}&mdash;{% endif %}</p>
        </div>
        <div class="property-line">
          <h4>Prof. Bonus</h4>
          <p>{{ page.monster.e5.pb | add_sign }}</p>
        </div>
      </div>
      {% if page.monster.e5.props or page.monster.e5.spellcasting %}
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        {% if page.monster.e5.spellcasting %}
        <div class="property-line">
          <h4>Spellcasting</h4>
          <p>{{ page.monster.e5.spellcasting.intro }}</p>
          <ul>
            {% for line in page.monster.e5.spellcasting.list %}
            <li><em>{{ line.title }}.</em> {{ line.list | join: ', ' }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% for prop in page.monster.e5.props %}
        <div class="property-line">
          <h4>{{ prop.title }}</h4>
          <p>{{ prop.desc }}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if page.monster.e5.actions %}
      {% for action in page.monster.e5.actions %}
      <div class="actions">
        <h3>{{ action.title }}</h3>
        {% if action.intro %}
        <p>{{ action.intro }}</p>
        {% endif %}
        {% for attack in action.list %}
        <div class="property-block">
          <h4>{{ attack.name }}</h4>
          <p>{{ attack.desc | default: '+57 melee (4d8 + 17 / 18-20 / x3)' }}</p>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% endif %}
      <hr class="orange-border bottom">
    </div>
    <!-- stat block -->
  </div>
</div>
<!-- /5e Stat Block -->
{% else %}
<!-- 3.5e Stat Block -->
<div class="four columns">
  <div class="stat-block-container">
    <div class="stat-block">
      <hr class="orange-border">
      <div>
        <div class="creature-heading">
          <h1>{{ page.monster.name | default: 'Terrasque' }}</h1>
          <h2>{{ page.monster.size | default: 'Colossal' }} {{ page.monster.type | default: 'magical beast' }}{% if page.monster.subtype %} ({{ page.monster.subtype }}){% endif %}, {{ page.monster.align | default: 'always neutral' }}</h2>
        </div>
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        <div class="property-line">
          <h4>Armor Class</h4>
          <p>{{ page.monster.e35.ac.base }}{% if page.monster.e35.ac.desc != '' %} ({{ page.monster.e35.ac.desc }}){% endif %}, touch {{ page.monster.e35.ac.touch | default: '5' }}, flat-footed {{ page.monster.e35.ac.flat | default: '32' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Hit Points</h4>
          <p>{{ page.monster.e35.hp.hp | default: '858' | pretty_number }} ({{ page.monster.e35.hp.hd | default: '48d10 + 594' }})</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Speed</h4>
          <p>{{ page.monster.e35.speed | default: '20ft' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Initiative</h4>
          <p>{{ page.monster.e35.initiative | default: 7 | add_sign }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Space/Reach</h4>
          <p>{{ page.monster.e35.space | default: '30ft' }}/{{ page.monster.e35.reach | default: '20ft' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>BA/Grapple</h4>
          <p>{{ page.monster.e35.ba | default: '+48' }}/{{ page.monster.e35.grapple | default: '+81' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Saves</h4>
          <p>Fort {{ page.monster.e35.saves.fort | default: 38 | add_sign }}, Ref {{ page.monster.e35.saves.ref | default: 29 | add_sign }}, Will {{ page.monster.e35.saves.will | default: 20 | add_sign }}</p>
        </div>
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        <div class="abilities">
          <div class="ability-strength">
            <h4>STR</h4>
            <p>{{ page.monster.abilities.str | ability }}</p>
          </div>
          <div class="ability-dexterity">
            <h4>DEX</h4>
            <p>{{ page.monster.abilities.dex | ability }}</p>
          </div>
          <div class="ability-constitution">
            <h4>CON</h4>
            <p>{{ page.monster.abilities.con | ability }}</p>
          </div>
          <div class="ability-intelligence">
            <h4>INT</h4>
            <p>{{ page.monster.abilities.int | ability }}</p>
          </div>
          <div class="ability-wisdom">
            <h4>WIS</h4>
            <p>{{ page.monster.abilities.wis | ability }}</p>
          </div>
          <div class="ability-charisma">
            <h4>CHA</h4>
            <p>{{ page.monster.abilities.cha | ability }}</p>
          </div>
        </div>
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        <div class="property-line">
          <h4>Skills</h4>
          <p>{{ page.monster.e35.skills | default: 'none' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Feats</h4>
          <p>{{ page.monster.e35.feats | default: 'none' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Challenge Rating</h4>
          <p>{{ page.monster.e35.cr | default: 20 }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Treasure</h4>
          <p>{{ page.monster.e35.treasure | default: 'None' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Advancement</h4>
          <p>{{ page.monster.e35.advancement | default: '49+ HD (Colossal)' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Level Adjustment</h4>
          <p>{{ page.monster.e35.lvl_adj | default: 'N/A' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Environment</h4>
          <p>{{ page.monster.e35.env | default: 'Any' }}</p>
        </div>
        <!-- property line -->
        <div class="property-line">
          <h4>Organization</h4>
          <p>{{ page.monster.e35.org | default: 'Solitary' }}</p>
        </div>
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div>
        <div class="property-block">
          <h4>Special Qualities</h4>
          <p>{{ page.monster.e35.qualities | default: 'none'}}</p>
        </div>
        <!-- property block -->
        <div class="property-block">
          <h4>Special Attacks</h4>
          <p>{{ page.monster.e35.sp_attacks | default: 'none' }}</p>
        </div>
        <!-- property block -->
      </div>
      <div class="actions">
        <h3>Actions</h3>
        {% for attack in page.monster.e35.attacks %}
        <div class="property-block">
          <h4>{{ attack.name }}</h4>
          <p>{{ attack.desc | default: '+57 melee (4d8 + 17 / 18-20 / x3)' }}</p>
        </div>
        {% endfor %}
      </div>
      {% assign: items = page.monster.e35.possessions | join: '' %}
      {% if items != '' %}
      <div class="actions">
        <h3>Possessions</h3>
        {% for item in page.monster.e35.possessions %}
        <div class="property-block">
          <h4>{{ item.name }}</h4>
          <p>{{ item.desc }}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <hr class="orange-border bottom">
    </div>
  </div>
</div>
<!-- /3.5e Stat Block -->
{% endif %}
