---
layout: default
---

<div class="seven columns">
  <div class="metadata">
    <h1>{{ page.title | default: 'Monster' }}</h1>
    <p class="meta">{{ page.author | default: 'Unknown' }} &bull; {{ page.date | default: '1938-07-27' | date: '%A, %B %e, %Y' }}</p>
  </div>

  {{ content }}

  {% assign: ss = page.shops | join: '' %}
  {% assign: hs = page.houses | join: '' %}
  {% if ss != '' or hs != '' %}
  <h2>Buildings</h2>

  {% if ss != '' %}
  <!-- Shops List -->
  <h3>Shops</h3>
  {% for shop in page.shops %}
  <div class="building">
    <h5>{{ shop.name }}</h5>
    <p class="type">{{ shop.type }}</p>
    {% if shop.owner %}
    <p><strong>Owner:</strong> {{ shop.owner.name }}, {{ shop.owner.gender }} {{ shop.owner.race }}, {% if shop.owner.level %}{{ shop.owner.level | ordinal }}-level{% endif %} {{ shop.owner.class }}</p>
    {% endif %}
    <p><strong>Location:</strong> {{ shop.location }}</p>
    <p><strong>Description:</strong> {{ shop.desc }}</p>
    <h6>Transactions</h6>
    <ul>
      <li><strong>Selling:</strong> {% if shop.prices.sell %}{{ shop.prices.sell }}% market price{% else %}Does not sell{% endif %}</li>
      <li><strong>Buying:</strong> {% if shop.prices.buy %}{{ shop.prices.buy }}% market price{% else %}Does not buy{% endif %}</li>
    </ul>
    {% assign: gs = shop.goods | join: '' %}
    {% if gs != '' %}
    <h6>{{ shop.goods.name }}</h6>
    <ul>
      {% for good in shop.goods.list %}
      <li>{{ good.name }} ({{ good.cost }})</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}

  {% if hs != '' %}
  <!-- Houses List -->
  <h3>Houses</h3>
  {% for house in page.houses %}
  <div class="building">
    {% if house.name != '' %}
    <h5>{{ house.name }}</h5>
    <p class="type">{{ house.type }}</p>
    {% else %}
    <h5>{{ house.type }}</h5>
    {% endif %}
    <p><strong>Location:</strong> {{ house.location }}</p>
    <p><strong>Description:</strong> {{ house.desc }}</p>
    <h6>Inhabitants</h6>
    <ul>
      {% for person in house.people %}
      <li><strong>{{ person.name }}:</strong> {{ person.gender }} {{ person.race }}, {% if person.level %}{{ person.level | ordinal }}-level{% endif %} {{ person.class }}{% if person.owner %}, <strong>owner</strong>{% endif %}.</li>
      {% endfor %}
    </ul>
    {% assign: is = house.items | join: '' %}
    {% if is != '' %}
    <h6>Items</h6>
    <ul>
      {% for item in house.items %}
      <li><strong>{{ item.name }}:</strong> {{ item.desc }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}

  {% endif %}
</div>

<div class="five columns">
  <blockquote class="meta">
    <h5>{{ page.settlement.name | default: 'Settlement Name' }}</h5>
    <p class="subtitle">{{ page.settlement.type | default: 'Small City' }}</p>

    <p><strong>Size:</strong> {{ page.settlement.size }}</p>
    <p><strong>Demographics:</strong> {% for race in page.settlement.demographics %}{{ race.percent }}% {{ race.race }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
    <p><strong>Population:</strong> {{ page.settlement.population | pretty_number }} souls</p>
    {% if page.settlement.wealth %}
    <p><strong>Wealth:</strong> {{ page.settlement.wealth | pretty_number }} gp</p>
    {% endif %}
    {% if page.settlement.gp-limit %}
    <p><strong>GP Limit:</strong> {{ page.settlement.gp-limit | pretty_number }} gp</p>
    {% endif %}

    {% assign: cs = page.settlement.centres | join: '' %}
    {% if cs != '' %}
    <h6>Ruling</h6>
    <ul>
      {% for centre in page.settlement.centres %}
      <li><strong>{{ centre.name }}:</strong> {{ centre.type }} ({{ centre.align | abbr_align }})</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% assign: as = page.settlement.authorities | join: '' %}
    {% if as != '' %}
    <h6>Authorities</h6>
    <ul>
      {% for authority in page.settlement.authorities %}
      <li><strong>{{ authority.name }}:</strong> {{ authority.title }} ({% if authority.level %}{{ authority.level | ordinal }}-level {% endif %}{{ authority.class }})</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% assign: ds = page.demographics | join: '' %}
    {% if ds != '' %}
    <h6>Demographics</h6>

    <details>
      <summary>Overview</summary>
      <ul>
        <li><strong>Nobles:</strong> {{ page.demographics.overview.nobles | pretty_number }}</li>
        <li><strong>Officers:</strong> {{ page.demographics.overview.officers | pretty_number }}</li>
        <li><strong>Clergy:</strong> {{ page.demographics.overview.clergy | pretty_number }}</li>
        <li><strong>Freeholders:</strong> {{ page.demographics.overview.freeholders | pretty_number }}</li>
        <li><strong>Citizens:</strong> {{ page.demographics.overview.citizens | pretty_number }}</li>
        <li><strong>Hirelings:</strong> {{ page.demographics.overview.hirelings | pretty_number }}</li>
      </ul>
    </details>

    <details>
      <summary>Nobility</summary>
      <p><strong>Ruling House</strong></p>
      <ul>
        <li><strong>Nobles:</strong> {{ page.demographics.ruling-house.nobles | pretty_number }}</li>
        <li><strong>Relatives:</strong> {{ page.demographics.ruling-house.relatives | pretty_number }}</li>
        <li><strong>Servants:</strong> {{ page.demographics.ruling-house.servants | pretty_number }}</li>
        <li><strong>Guards:</strong> {{ page.demographics.ruling-house.guards | pretty_number }}</li>
        <li><strong>Serjaants:</strong> {{ page.demographics.ruling-house.serjaants | pretty_number }}</li>
      </ul>
      <p><strong>Other Noble Houses</strong></p>
      <ul>
        <li><strong>Houses:</strong> {{ page.demographics.other-houses.houses | pretty_number }}</li>
        <li><strong>Population:</strong> {{ page.demographics.other-houses.population | pretty_number }}</li>
      </ul>
    </details>

    <details>
      <summary>Officers</summary>
      <ul>
        <li><strong>Reeves:</strong> {{ page.demographics.officers.reeves | pretty_number }}</li>
        <li><strong>Messors:</strong> {{ page.demographics.officers.messors | pretty_number }}</li>
        <li><strong>Woodwards:</strong> {{ page.demographics.officers.woodwards | pretty_number }}</li>
        <li><strong>Constables:</strong> {{ page.demographics.officers.constables | pretty_number }}</li>
        <li><strong>Guards:</strong> {{ page.demographics.officers.guards | pretty_number }}</li>
      </ul>
    </details>

    <details>
      <summary>Clergy</summary>
      <ul>
        <li><strong>Clerics:</strong> {{ page.demographics.clergy.clerics | pretty_number }}</li>
        <li><strong>Priests:</strong> {{ page.demographics.clergy.priests | pretty_number }}</li>
      </ul>
    </details>

    <details>
      <summary>Freeholders</summary>
      <ul>
        {% if page.demographics.freeholders.adventures != 0 and page.demographics.freeholders.adventures != '' %}
        <li><strong>Adventures:</strong> {{ page.demographics.freeholders.adventures | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.apothecaries != 0 and page.demographics.freeholders.apothecaries != '' %}
        <li><strong>Apothecaries:</strong> {{ page.demographics.freeholders.apothecaries | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.armourers != 0 and page.demographics.freeholders.armourers != '' %}
        <li><strong>Armourers&ast;:</strong> {{ page.demographics.freeholders.armourers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.artists != 0 and page.demographics.freeholders.artists != '' %}
        <li><strong>Artists:</strong> {{ page.demographics.freeholders.artists | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.butchers != 0 and page.demographics.freeholders.butchers != '' %}
        <li><strong>Butchers&ast;:</strong> {{ page.demographics.freeholders.butchers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.chandlers != 0 and page.demographics.freeholders.chandlers != '' %}
        <li><strong>Chandlers:</strong> {{ page.demographics.freeholders.chandlers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.charcoalers != 0 and page.demographics.freeholders.charcoalers != '' %}
        <li><strong>Charcoalers:</strong> {{ page.demographics.freeholders.charcoalers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.cobblers != 0 and page.demographics.freeholders.cobblers != '' %}
        <li><strong>Cobblers:</strong> {{ page.demographics.freeholders.cobblers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.entertainers != 0 and page.demographics.freeholders.entertainers != '' %}
        <li><strong>Entertainers:</strong> {{ page.demographics.freeholders.entertainers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.foresters != 0 and page.demographics.freeholders.foresters != '' %}
        <li><strong>Foresters:</strong> {{ page.demographics.freeholders.foresters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.furriers != 0 and page.demographics.freeholders.furriers != '' %}
        <li><strong>Furriers:</strong> {{ page.demographics.freeholders.furriers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.glassworkers != 0 and page.demographics.freeholders.glassworkers != '' %}
        <li><strong>Glassworkers:</strong> {{ page.demographics.freeholders.glassworkers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.innkeepers != 0 and page.demographics.freeholders.innkeepers != '' %}
        <li><strong>Innkeepers:</strong> {{ page.demographics.freeholders.innkeepers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.jewelers != 0 and page.demographics.freeholders.jewelers != '' %}
        <li><strong>Jewelers:</strong> {{ page.demographics.freeholders.jewelers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.litigants != 0 and page.demographics.freeholders.litigants != '' %}
        <li><strong>Litigants:</strong> {{ page.demographics.freeholders.litigants | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.locksmiths != 0 and page.demographics.freeholders.locksmiths != '' %}
        <li><strong>Locksmiths:</strong> {{ page.demographics.freeholders.locksmiths | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.masons != 0 and page.demographics.freeholders.masons != '' %}
        <li><strong>Masons:</strong> {{ page.demographics.freeholders.masons | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.metalsmiths != 0 and page.demographics.freeholders.metalsmiths != '' %}
        <li><strong>Metalsmiths&ast;:</strong> {{ page.demographics.freeholders.metalsmiths | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.bakers != 0 and page.demographics.freeholders.bakers != '' %}
        <li><strong>Bakers&ast;:</strong> {{ page.demographics.freeholders.bakers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.ostlers != 0 and page.demographics.freeholders.ostlers != '' %}
        <li><strong>Ostlers&ast;:</strong> {{ page.demographics.freeholders.ostlers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.outfitters != 0 and page.demographics.freeholders.outfitters != '' %}
        <li><strong>Outfitters:</strong> {{ page.demographics.freeholders.outfitters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.physicians != 0 and page.demographics.freeholders.physicians != '' %}
        <li><strong>Physicians:</strong> {{ page.demographics.freeholders.physicians | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.potters != 0 and page.demographics.freeholders.potters != '' %}
        <li><strong>Potters:</strong> {{ page.demographics.freeholders.potters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.roofers != 0 and page.demographics.freeholders.roofers != '' %}
        <li><strong>Roofers:</strong> {{ page.demographics.freeholders.roofers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.ropemakers != 0 and page.demographics.freeholders.ropemakers != '' %}
        <li><strong>Ropemakers:</strong> {{ page.demographics.freeholders.ropemakers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.sages != 0 and page.demographics.freeholders.sages != '' %}
        <li><strong>Sages:</strong> {{ page.demographics.freeholders.sages | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.salters != 0 and page.demographics.freeholders.salters != '' %}
        <li><strong>Salters&ast;:</strong> {{ page.demographics.freeholders.salters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.scribes != 0 and page.demographics.freeholders.scribes != '' %}
        <li><strong>Scribes:</strong> {{ page.demographics.freeholders.scribes | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.shipwrights != 0 and page.demographics.freeholders.shipwrights != '' %}
        <li><strong>Shipwrights&ast;:</strong> {{ page.demographics.freeholders.shipwrights | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.tailors != 0 and page.demographics.freeholders.tailors != '' %}
        <li><strong>Tailors:</strong> {{ page.demographics.freeholders.tailors | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.tanners != 0 and page.demographics.freeholders.tanners != '' %}
        <li><strong>Tanners&ast;:</strong> {{ page.demographics.freeholders.tanners | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.taverners != 0 and page.demographics.freeholders.taverners != '' %}
        <li><strong>Taverners:</strong> {{ page.demographics.freeholders.taverners | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.teamsters != 0 and page.demographics.freeholders.teamsters != '' %}
        <li><strong>Teamsters:</strong> {{ page.demographics.freeholders.teamsters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.timberwrights != 0 and page.demographics.freeholders.timberwrights != '' %}
        <li><strong>Timberwrights&ast;:</strong> {{ page.demographics.freeholders.timberwrights | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.tinkers != 0 and page.demographics.freeholders.tinkers != '' %}
        <li><strong>Tinkers:</strong> {{ page.demographics.freeholders.tinkers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.vintners != 0 and page.demographics.freeholders.vintners != '' %}
        <li><strong>Vintners:</strong> {{ page.demographics.freeholders.vintners | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.weaponcrafters != 0 and page.demographics.freeholders.weaponcrafters != '' %}
        <li><strong>Weaponcrafters&ast;:</strong> {{ page.demographics.freeholders.weaponcrafters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.weavers != 0 and page.demographics.freeholders.weavers != '' %}
        <li><strong>Weavers:</strong> {{ page.demographics.freeholders.weavers | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.woodcrafters != 0 and page.demographics.freeholders.woodcrafters != '' %}
        <li><strong>Woodcrafters:</strong> {{ page.demographics.freeholders.woodcrafters | pretty_number }}</li>
        {% endif %}
        {% if page.demographics.freeholders.yeomen != 0 and page.demographics.freeholders.yeomen != '' %}
        <li><strong>Yeomen:</strong> {{ page.demographics.freeholders.yeomen | pretty_number }}</li>
        {% endif %}
      </ul>
      <p>Freeholders typically live in the same building as their shop, unless marked with an asterisk (&ast;), in which case their dwelling is separate from their place of business.</p>
    </details>

    <details>
      <summary>Buildings</summary>
      <ul>
        <li><strong>Mansions:</strong> {{ page.demographics.buildings.mansions | pretty_number }}</li>
        <li><strong>Churches:</strong> {{ page.demographics.buildings.churches | pretty_number }}</li>
        <li><strong>Businesses:</strong> {{ page.demographics.buildings.businesses | pretty_number }}</li>
        <li><strong>Municipal:</strong> {{ page.demographics.buildings.municipal | pretty_number }}</li>
        <li><strong>Homes:</strong> {{ page.demographics.buildings.homes | pretty_number }}</li>
        <li><strong>Total:</strong> {{ page.demographics.buildings.total | pretty_number }}</li>
      </ul>
    </details>
    {% endif %}
  </blockquote>
</div>
