---
layout: default
---

<div class="eight columns">
  <div class="metadata">
    <h1>{{ page.title | default: 'Weapon' }}</h1>
    <p class="meta">{{ page.author | default: 'Unknown' }} &bull; {{ page.date | default: '1938-07-27' | date: '%A, %B %e, %Y' }}</p>
  </div>

  {{ content }}
</div>

<div class="four columns">
  <h2>{{ page.item.name | default: 'Weapon' }}</h2>
  <p>{{ page.item.type | default: 'Melee' }}{% if page.item.e5.rarity %}, {{ page.item.e5.rarity }}{% endif %}{% if page.item.e5.attunement %} (Requires attunement by {{ page.item.e5.attunement }}){% endif %}</p>
  <p><strong>Weight:</strong> {{ page.item.weight }}</p>
  <p><strong>Base Value:</strong> {{ page.item.value | pretty_number }}gp</p>
  {% assign: damages = page.item.damage | join: ' &bull; ' %}
  <p><strong>Damage:</strong> {{ damages }}</p>
  {% if page.item.e35 %}
  <!-- 3.5e Specific -->
  <p><strong>Critical:</strong> {% if page.item.e35.critical %}{{ page.item.e35.critical }}{% else %}&times;2{% endif %}</p>
  <p><strong>Range Increment:</strong> {% if page.item.e35.range %}{{ page.item.e35.range }}{% else %}&mdash;{% endif %}</p>
  <!-- /3.5e Specific -->
  {% endif %}
  {% if page.item.e5.charges %}
  <p><strong>Charges:</strong> {{ page.item.charges.e5.number }} {% if page.item.e5.charges.regain %}(Regains {{ page.item.e5.charges.regain }} {{ page.item.e5.charges.reset }}){% else %}(Consumable){% endif %}</p>
  {% endif %}
  {% if page.item.props %}
  <ul>
    {% for prop in page.item.props %}
    <li>{{ prop }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if page.item.attributes %}
  <ul>
    {% for attr in page.item.attributes %}
    <li>{{ attr }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
